.v{
    display: inline-block;
    min-height: 100vh;
    padding-top: 15px;
    padding-bottom: 30px;
}

.vA{
    display: inline-block;
    min-height: 100vh;
    padding-top: 80px;
}

.MuiStack-root{
    margin: 15px;
}

.fMgMlz{
    color: rgb(98, 112, 241);
}

.btn-v{
    border-radius: 40px !important;
    margin-top: 20px !important;
    color: rgb(241, 98, 220);
}

.btn-v:hover{
    background-color: rgb(52, 150, 68) !important;
}

*{
    text-decoration: none !important;
}

h5{
    display: flex;
    justify-content: center;
    color: white;
}

.bg-cv{
    background-color: rgb(255, 255, 255)!important;
}

.form-outline .form-control{
    background: rgb(255, 255, 255);
}

select{
    display: flex;
}

.filtro{
    display: flex;
    justify-content: space-evenly;
}

.tituloFiltro{
    font-weight: bold;
    color: #3B71BA;
    padding-bottom: 5px;
}

.titFil{
    display: flex;
    font-weight: bolder;
    padding-top: 50px;
    padding-left: 20px;
    color: purple;
    justify-content: center;
}

.error{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
}

.c{
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    align-items: center;
}

.jc-c{
    display: flex;
    justify-content: center;
}

.m-0{
    margin: 0px !important;
}

.mb-4{
    margin-top: 0rem !important;
}

.titulin{
    font-weight: bold;
    color: purple;
    padding-bottom: 5px;
}

.textinsecundarin{
    font-weight: bold;
    color: purple;
    padding-bottom: 5px;
}

.textinsecundarin2{
    font-weight: bold;
    color: purple;
    padding-bottom: 5px;
}