/* Estilo para el contenedor principal */
.my-5{
    display: flex;
    background-image: url('img1.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
  }
  
  /* Estilo para el fondo del formulario */
  .bg-cv {
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(136, 15, 184, 0.938);
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 550px;
  }
  
  /* Estilo para el título del formulario */
  h3 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: purple;
  }
  

 

  input.input-field{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    color: purple;

  }
  


  .MDBBtn {
    background-color: #00ff9d;
    color: rgb(168, 29, 29);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
  }
  

  .MDBBtn:hover {
    background-color: #00b32d;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .textoCuenta{
    font-weight: bold;
    margin-bottom: 5px;
    color: purple;
  }
  