.navbar-brand{
    color: purple;
    white-space: nowrap;
    font-weight: bolder;
}

.nav-link:hover{
    color: #d960ee;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.bg-light{
    background-color: #dd7aee !important;
}

.btn{
    background-color: #dd7aee;
}

.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.mr-auto{
    color: white;
}